<h2>Template: switches</h2>
<hr />
<form #miFormulario="ngForm">
  <!-- radius button -->

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"> Genero</label>

    <div class="col-sm-9">
      <div class="from-check">
        <input
          class="from-check-input"
          type="radio"
          value="M"
          [(ngModel)]="persona.genero"
          name="radioGenero"
          id="radioMasculino"
          required
        />
        <label class="from-check-label" for="radioGenero"> Masculino </label>
      </div>

      <div class="from-check">
        <input
          class="from-check-input"
          type="radio"
          value="F"
          [(ngModel)]="persona.genero"
          name="radioGenero"
          id="radioFemenino"
          required
        />
        <label class="from-check-label" for="radioGenero"> Femenino </label>

        <div class="from-check">
          <input
            class="from-check-input"
            type="radio"
            value="O"
            [(ngModel)]="persona.genero"
            name="radioGenero"
            id="radioOtro"
            required
          />
          <label class="from-check-label" for="radioGenero"> Otro </label>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Notificaciones</label>
        <div class="col-sm-9"></div>

        <div class="form-check from switch">
          <input
            class="form-check-input mt-2"
            type="checkbox"
            [(ngModel)]="persona.notificaciones"
            name="notifiaciones"
            id="flexSwitchChecked"
          />
          <label class="form-check-label" for="flexSwitchChecked">
            Quiero recubir notificaciones</label
          >
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label"> </label>
          <div class="col-sm-9"></div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexCheckDefault"
              name="terminos"
              [(ngModel)]="terminosYCondiciones"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Terminos y condiciones de uso
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="btn btn-primary float-end">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<h5>Valor del formulario</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br />
<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>
<br />
<h5>Terminos</h5>
<pre>{{ miFormulario.controls?.['terminos']?.errors | json }}</pre>
<br />
<pre>Condiciones:</pre>
